@import url('https://fonts.googleapis.com/css2?family=Honk&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

*{
    padding: 0px;
    margin: 1px ;
    font-family: 'Single Day';
    font-size: 20px;
}

body{
    background: rgb(181,187,249);
    background: linear-gradient(0deg, rgba(181,187,249,0.4542191876750701) 0%, rgba(255,255,255,0.8099614845938375) 100%);
}

a{
    text-decoration: none;
    font-size: 18px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

h1{
    opacity: 0.2;
    font-size: 35px;
}

.div-h1{
    text-align: center;
    position: sticky;
    top: 10px;
}

.div-img{
    margin-top: -120px;
    text-align: center;
}

.avatar-logo{
    border-radius: 20%;
}

h2{
    text-align: center;
    font-size: 30px;
    color: rgb(31, 30, 27);
}

.contenedor-sections{
    padding-top: 10px;
}

.section-1{
    overflow:auto;
    padding-left: 5px;
    margin-bottom: 15px;
    margin-left: 30%;
    background: rgba(237,240,246,1);
    background: linear-gradient(0deg, rgba(237,240,246,1) 0%, rgb(89, 113, 211) 100%);
    height: 180px;
    width: 40%;
    text-align: center;
    border: 3px solid black;
    border-radius: 2%;
}
.h3-1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}
.section-2{
    overflow:auto;
    margin-left: 100px;
    padding-left: 30px;
    padding-bottom: 10px;
    background: rgb(40,70,196);
    background: linear-gradient(90deg, rgba(40,70,196,1) 0%, rgba(127,177,236,1) 35%, rgba(237,240,246,1) 100%);   
    height: 210px;
    border: 3px solid black;
    border-radius: 2%;
}

.section-2 li{
    padding-right: 5px;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.h3-2{
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
}

.section-3{
    overflow:auto;
    padding-left: 15px;
    height: 220px;
    margin-top: 15px;
    background: rgb(237,240,246);
    background: linear-gradient(90deg, rgba(237,240,246,1) 0%, rgba(127,177,236,1) 35%, rgba(40,70,196,1) 100%);
    border: 3px solid black;
    border-radius: 2%;
}

.h3-3{
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
}

.section-4{
    font-size: 22px;
    overflow:auto;
    padding-top: 10px;
    padding-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 200px;
    width: 95%;
    margin-left: 3%;
    background: rgba(40,70,196,1);
    background: linear-gradient(0deg, rgba(40,70,196,1) 0%, rgba(223,227,245,1) 100%);
    border: 3px solid black;
    border-radius: 2%;
}

.btn-div{
    float: right;
    margin-top: 10px;
    padding-right: 15px;
}
.btn-show{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    :hover {
        box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
        transform: translateY(-2px);
    }
    :active{
        box-shadow: inset 0px 3px 7px #3c4fe0;
        transform: translateY(2px);
    }    
}

.section-4-menu {
    overflow: hidden;
    width: 50%;
    background: rgb(40,70,196);
    background: linear-gradient(90deg, rgba(40,70,196,1) 0%, rgba(127,177,236,1) 35%, rgba(237,240,246,1) 100%);
    height: 120px;
    display: none; /* Esto activa Flexbox para el contenedor */
    justify-content: flex-end; /* Alinea los elementos hijo hacia el final (derecha) */
    align-items: center; /* Centra los elementos verticalmente */
    padding: 0; /* Elimina el relleno por defecto */
    border: 3px solid black;
    border-radius: 2%;
    float: right;
    position: relative;
    top: -45px; left: -30px;
}

.section-4-menu ul {
    list-style: none; /* Elimina los estilos de lista por defecto */
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el relleno por defecto */
    display: flex; /* Activa Flexbox para los 'li' */
}

.section-4-menu li {
    margin-right: 30px; /* Añade espacio entre los elementos 'li' */
}

.section-4-menu li:last-child {
    margin-right: 1; /* Elimina el margen derecho del último elemento */
}

footer{
    width: 98%;
    text-align: center;
    margin-top: 150px;
    padding-top: 15px;
    color: white;
    background-color: black;
    height: 50px;
}

footer a{
    font-family: 'Honk';
}

.section-2-2{
    width: 30%;
    display: inline-block;
}
.section-3-3{
    margin-left: 77px;
    width: 60%;
    display: inline-block;
}